PORT=3001
DOMAIN=localhost:3001

# LOCAL
PORTAL_API_URL=https://pub.portal.grove.city/query
PORTAL_ADMIN_KEY=

# PROD
AUTH0_CLIENT_ID=
AUTH0_CLIENT_SECRET=
# GOOGLE AUTH
AUTH0_CLIENT_ID=
AUTH0_CLIENT_SECRET=

# SYSTEM ENVIRONMENT VARIABLE VERCEL USES TO POPULATE THE DOMAIN
VERCEL_URL=localhost:3001

BACKEND_URL=http://localhost:4200
RELAY_METER_API_URL=https://relay-meter.portal.grove.city/v1/relays
RELAY_METER_API_TOKEN=
GOOGLE_SHEETS_CONTACT_SALES_API_URL=
ERROR_METRICS_API_URL=https://metrics-api.portal.pokt.network:3001
POKT_SCAN_API_URL=https://api.poktscan.com/poktscan/api/graphql
POKT_SCAN_API_TOKEN=
CMS_API_URL=https://pocket-network.directus.app/graphql
CMS_API_TOKEN=

AUTH0_DOMAIN=auth.grove.city
AUTH0_AUDIENCE=https://ui.backend.pokt.network/
AUTH0_SCOPE='read:current_user update:current_user_metadata openid profile email'
AUTH0_USER=
AUTH0_PASSWORD=
AUTH0_CONNECTION=PortalUsernamePasswordDB
DOCS_STATUS=temp

STRIPE_API_KEY=
STRIPE_SECRET_KEY=
STRIPE_PRICE_ID=
STRIPE_PRODUCT_ID=
STRIPE_WEBHOOK_SECRET=

MAILGUN_API_KEY=

PLASMIC_ID=
PLASMIC_TOKEN=

SENTRY_DSN=
AMPLITUDE_API_KEY=

GODMODE_ACCOUNT=
GODMODE_ACCOUNTS=

SESSION_SECRET=

# ADMIN
ADMIN_EMAIL=
ADMIN_PASSWORD=
ADMIN_KEY=

# FEATURE FLAGS
FLAG_MULTI_LANGUAGE=true
FLAG_STRIPE_PAYMENT=true
FLAG_ENTERPRISE=true
FLAG_LEGACY_MESSAGING=true
FLAG_INFLUX_RELAY_ERROR=false
FLAG_MAINTENANCE_MODE=false
FLAG_MAINTENANCE_MODE_DASHBOARD=false
FLAG_ANNOUNCEMENT_ALERT=false
ANNOUNCEMENT_ALERT_TITLE=""
ANNOUNCEMENT_ALERT_BODY=""

# Mailjet
MAILJET_API_KEY=""
MAILJET_API_SECRET=""

# Google Analytics
GOOGLE_ANALYTICS_ID=""

# Data Warehouse
DWH_API_KEY=""
DWH_API_URL=""

NOVU_API_KEY=
NOVU_APP_IDENTIFIER=

VERCEL_ENV=development

KV_REST_API_URL=
KV_REST_API_TOKEN=